<!doctype html>
<html class="h-full antialiased bg-neutral-900" lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title, description: resource.data.summary, url: resource.absolute_url %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %> text-neutral-50">
    <%= render "banner", message: "New episodes on the first and third Tuesdays of the month!"%>

    <main>
      <%= render "header" %>

      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
    <% if Bridgetown.env.development? %>
      <script>
        console.log(`Layout:`, `<%= resource.layout.name %>`);
      </script>
    <% end %>
  </body>
</html>
