<footer>
  <div class="max-w-full mx-auto pt-12 pb-6 px-4 sm:px-24 md:flex md:items-center md:justify-between">
    <div class="flex justify-center space-x-6 md:order-2">
      <a href="mailto:<%= metadata.email %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">EMail</span>
        <%= render IconComponent.new("email", classes: "h-5 w-5") %>
      </a>

      <a href="<%= metadata.twitter %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <%= render IconComponent.new("twitter", classes: "h-5 w-5") %>
      </a>

      <a rel="me" href="<%= metadata.mastodon %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Mastodon</span>
        <%= render IconComponent.new("mastodon", classes: "h-5 w-5") %>
      </a>
    </div>
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base text-gray-400">All content &copy; <%= Date.today.year %> <%= metadata.title %>.</p>
    </div>
  </div>
</footer>
